// Da Vinci CSS
@import "../../../da-vinci"

// Demos
@import "../../plankton"

/* Colors
_____________________________________________________ */
highlight = #eb02dd

*
	box-sizing border-box

body
	font-family 'Roboto', sans-serif
	font-weight 300
	background-color #eee
	color #595959

.main
	width 100%
	padding 30px

.demo
	background #fff
	display inline-block
	padding 15px

.demo h2
	margin 0 0 15px 0

.link
	color highlight
	text-decoration none
	font-weight 300
	padding 10px 0
	display inline-block

.link-btn
	background highlight
	color #fff
	text-decoration none
	font-weight 300
	padding 5px 10px
	display inline-block
	transition opacity .3

.link-btn:hover
	opacity .8

.link:hover
	text-decoration underline
